mixin page(href, title)
    li
        h3
            a.high(href=href)=title

mixin breadcrumbs(crumbs)
    section#breadcrumb
        .container.breadcrumb-container.d-flex.align-items-center
            each crumb, idx in crumbs
                if idx+1 === crumbs.length
                    .breadcrumb-item.breadcrumb-active=crumb.title
                else
                    .breadcrumb-item
                        a(href=''+crumb.href)=crumb.title
                    .breadcrumb-divider &rsaquo;

mixin socialIcons
    - let icons = ["fa-viber", "fa-whatsapp", "fa-skype", "fa-vk", "fa-instagram", "fa-facebook", "fa-youtube"]
    each icon in icons
        li
            a
                i.fab(class=icon)

mixin feedback(page)
    - let bg = ''
    if page === 'about'
        - bg = 'bg-white'
    section.m-0(class=bg)#feedback
        .container
            .row
                .col-12.col-lg-6.p-0
                    .form-wrap
                        .title.pt-5.text-center.text-lg-left
                            h3 Форма обратной связи
                .col-12.col-lg-6.d-none.d-lg-block.p-0.text-left
                    img.img-fluid(src="img/Главная/img-conversation.png")
mixin team()
    -
        let team = [
        {
            name: "Константин Алексеевич Геращенко",
            position: "Руководитель отдела продаж",
            phone: "+79128577186",
            email: "login@gmail.com",
            description: "Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены."
        },
        {
            name: "Константин Алексеевич Геращенко",
            position: "Руководитель отдела продаж",
            phone: "+79128577186",
            email: "login@gmail.com",
            description: "Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены."
        },
        {
            name: "Константин Алексеевич Геращенко",
            position: "Руководитель отдела продаж",
            phone: "+79128577186",
            email: "login@gmail.com",
            description: "Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены."
        },
        {
            name: "Константин Алексеевич Геращенко",
            position: "Руководитель отдела продаж",
            phone: "+79128577186",
            email: "login@gmail.com",
            description: "Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены."
        },
        {
            name: "Константин Алексеевич Геращенко",
            position: "Руководитель отдела продаж",
            phone: "+79128577186",
            email: "login@gmail.com",
            description: "Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены."
        },
        {
            name: "Константин Алексеевич Геращенко",
            position: "Руководитель отдела продаж",
            phone: "+79128577186",
            email: "login@gmail.com",
            description: "Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены."
        },
        {
            name: "Константин Алексеевич Геращенко",
            position: "Руководитель отдела продаж",
            phone: "+79128577186",
            email: "login@gmail.com",
            description: "Как уже неоднократно упомянуто, элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ограничены исключительно образом мышления. А еще независимые государства разоблачены."
        }
        ]
    section#teamMembers
        each member, idx in team
            - let num = idx+1
            .member-card.d-flex.my-3.pb-3
                .img
                    img(src="img/Команда/img-person-"+num+".png")
                .member-desc.d-flex.flex-column.justify-content-around.pl-3
                    .name=member.name
                    .position=member.position
                    .contacts.d-flex.align-items-center.justify-content-between.w-75
                        button.btn.zavodpr-btn Написать сообщение
                        a(href="mailto:"+member.email)=member.email
                        a(href="tel:"+member.phone)=member.phone
                    .description=member.description